<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.shingrus.myplayer" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="9" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="@string/app_name" android:name="MyPlayerApplication" android:icon="@drawable/ringtone">
		<activity android:name="MyPlayerActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="MyPlayerPreferencesActivity" android:label="@string/preferences_activity_name">
		</activity>
		<service android:name=".UpdateService" android:enabled="true"></service>
		<service android:name=".MusicPlayerService"></service>
	</application>
</manifest>